<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScripts.CreateContactTest"/>
      <class name="testScripts.CreateContactWithExistingOrgTest"/>
      <class name="testScripts.createOrgTest"/>
      <class name="testScripts.CreateNewOrgWithTypeAnsIndustryTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
